@import url(./global.css);
@import url(./resposive.css);
*{
    box-sizing: border-box;
    word-wrap: normal;
    
}
.content img{
    cursor: pointer;
    width: 100%;
    object-fit: cover;
}
.header{
    min-height: 82px;
}
.header__top{
    background: var(--header__top-color);
}
.header__top .row>*{
  height: 48px;
  display: flex;
  align-items: center;
}
.header__logo{
    cursor: pointer;
}
.header__top-link{
  color: white;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 0 8px;
  border-right: 1px solid var(--top__lick-border);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.header__top-link i{
    margin-right: 5px;
}
.header__search{
    margin-left: 12px;
}
.header__avatar{
    margin-right: 12px;
}
.header__top-right{
    display: flex;
    align-items: center;
}
.header__untiliti{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;

}
a:not([href]):not([tabindex]) {
    color: black;
    text-decoration: none;
}
a:not([href]):not([tabindex]):hover {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.header__action{
    display: flex;
    align-items: center;
    margin-left: 12px;
    height: 48px;
}
.header__search:hover{
cursor: pointer;
}
.hide{
    display: none;
}
.header__search{
    display: flex;
    
}
.input-search{
    border: 0;
    background: transparent;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    transition: all .3s;
    color: white;
}
::placeholder{
    color:white;
}
input{
    outline: none;
}
.header__avatar{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
}
.header__avatar:hover{
    cursor: pointer;
}
.btn-register{
    background: #5580df;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    padding: 4px 16px;
    margin-left: 20px;
    font-weight: 500;
}
.btn-register:hover{
    cursor: pointer;
}
.header__bottom{
    box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
    background: #fff;
}
.menu-nav{
    color: #222;
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
.menu-nav a:hover{
    color: black;
}
.navbar{
    padding: 0;
}
.nav-link{
    padding: 8px 0;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #222;
    display: flex;
    align-items: center;
    padding-right: 20.4px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0);
}

@media (min-width: 1200px)
{
.container {
    max-width: 1420px;
}
}
.content{
    padding-top: 24px;
    height: calc(100vh - 200px);
}
.content__list{
    width: 235px;
    border-right: 1px solid #f2f2f2;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: calc(100vh - 200px);
    overflow-y: scroll;
}
.wheather{
    padding-bottom: 8px;
    margin-right: 15px;
    border-top: none !important;
    cursor:default !important;
    font-weight: 700 !important;
    
}
.content__list-item{
    border-top: 1px dashed #d9d9d9;
    padding: 11px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #565656;
    margin-bottom: 4px;
    cursor: pointer;
}
.main__news{
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
}
.main__news-title{
    font-size: 22px;
    line-height: 28px;
    color: #222;
    font-weight: 700;
    display: block;
    margin-bottom: 24px;
    cursor: pointer;
}
.main__news-des{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.news__related-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #222;
    display: block;
    margin-top: 5px;
    cursor: pointer;
}

.content__ads{
    width: 315px;
    border-left: 1px solid #f2f2f2;
    padding-left: 15px;
    margin-left: 15px;
}
.ads-image{
    margin-top: 10px;
}
